{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Change password
        </div>
        <div class="card-body">
            {% if msg %}
            {% if msg == 'Password update' %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}

            <form method="POST" action="/users/edit-password">
                <div class="form-row">
                    <div class="form-group com-md-6">
                        <label>UserName</label>
                        <input class="form-control" type="text" name="username" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" required/>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" name="password2" required/>
                </div>
                <button type="submit" class="btn btn-primary">
                    Edit
                </button>
            </form>
        </div>
    </div>
</div>